@let isAuthenticated = auth.isAuthenticated$ | async;
@let user = auth.user$ | async;

<div class="login-status-header">


@if (isAuthenticated) {
    <button routerLink="/members" class="security-btn ml-1">Member</button>
  @if (user!=null) {
    <span>{{ user.name }}</span>
  }
  <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
    Log out
  </button>
  <button routerLink="/members">
    Member
  </button>
  <button routerLink="/order-history">
    Order History
  </button>
} @else {
  <button (click)="auth.loginWithRedirect()">Log in</button>
}
</div>
